/* Style CSS pour l'image */
.image-container {
    border: 1px solid #ccc; /* Ajoute un cadre autour de l'image */
    border-radius: 8px; /* Arrondi les coins du cadre */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre */
    overflow: hidden; /* Masque tout contenu qui dépasse de l'image */
    margin-bottom: 20px; /* Ajoute un espace en bas de l'image */
}

.image-container img {
    width: 100%; /* Assure que l'image occupe toute la largeur du conteneur */
    height: auto; /* Ajuste automatiquement la hauteur pour maintenir le ratio */
}



/* Animation pour les titres */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  h3, h2 {
    animation: slideInFromLeft 1s ease-out, slideInFromRight 1s ease-out;
  }
  /* Style de base pour les titres */
.vibrating-text {
  display: inline-block;
  position: relative;
}

/* Animation de vibration */
@keyframes vibration {
  0% { transform: translateX(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  60% { transform: translateX(-1px); }
  80% { transform: translateX(1px); }
  100% { transform: translateX(0); }
}

/* Appliquer l'animation de vibration aux titres */
.vibrating-text span {
  display: inline-block;
  animation: vibration 0.1s infinite;
  transform-origin: 50% 50%;
  animation-timing-function: ease-in-out;
}
