.parking-container {
  margin: 20px auto;
  max-width: 1200px; /* Increase max-width to accommodate more cars */
  position: relative;
}

.map-container {
  position: relative;
}

.status-showcase .showcase {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
}

.parking-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow wrapping if there are too many cars */
  margin-bottom: 20px;
}

.parking-space {
  width: 20px; /* Reduce width to fit more cars */
  height: 20px; /* Reduce height to fit more cars */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 6px;
  font-size: 15px; /* Reduce font size */
  position: relative;
}

.parking-space i {
  font-size: 40px; /* Adjust the size of the car icon */
}

.parking-space .place-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9px; /* Adjust the size of the parking space number */
  color: rgb(255, 255, 255); /* Adjust the color of the parking space number */
}

.available {
  color: rgb(0, 94, 187);
}

.selected {
  color: rgb(0, 171, 0);
}

.occupied {
  color: rgb(165, 0, 0);
}

.road {
  width: 100%;
  height: 80px;
  background-color: rgb(111, 111, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.road-line {
  height: 5px;
  background-color: rgb(255, 255, 255);
  width: 20%;
  margin: 0 5px;
}

.vertical-road {
  width: 80px;
  height: 100px;
  background-color: rgb(111, 111, 111);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.vertical-road-line {
  width: 5px;
  height: 20%;
  background-color: rgb(255, 255, 255);
  margin: 0px 0;
}

.garage-door {
  width: 100px;
  height: 50px;
  background-color: red;
  margin-top: 20px; 
}

.path-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.moving-car {
  position: absolute;
  font-size: 80px;
  color: green;
  transform: translate(-50%, -50%);
  display: none;
  transition: transform 0.2s linear;
}

.car-up {
  transform: translate(-50%, -50%) rotate(0deg);
}

.car-right {
  transform: translate(-50%, -50%) rotate(0deg);
}

.car-down {
  transform: translate(-50%, -50%) rotate(0deg);
}

.car-left {
  transform: translate(-50%, -50%) rotate(0deg);
}





.parking-space.disabled {
  cursor: not-allowed;
}