<div class="parking-container">
  <div class="map-container">
    <div class="status-showcase">
      <div class="showcase">
        <div class="box available">
          <small>Available</small>
        </div>
        <div class="box selected">
          <small>Selected</small>
        </div>
        <div class="box occupied">
          <small>Occupied</small>
        </div>
      </div>
    </div>

    <div class="parking-layout">
      <div class="row">
        <div *ngFor="let place of firstRow" class="parking-space" 
             [ngClass]="{'occupied': place.estReservee, 'selected': place.isSelected, 'available': !place.estReservee && !place.isSelected ,'disabled': place.isDisabled}" 
             (click)="selectPlace(place)">
          <i class="fas fa-car"></i>
          <div class="place-number">{{ place.numeroPlace }}</div>
        </div>
      </div>
      <div class="road">
        <div class="road-line"></div>
        <div class="road-line"></div>
        <div class="road-line"></div>
        <div class="road-line"></div>
      </div>
      <div class="row">
        <div *ngFor="let place of secondRow" class="parking-space" 
             [ngClass]="{'occupied': place.estReservee, 'selected': place.isSelected, 'available': !place.estReservee && !place.isSelected}" 
             (click)="selectPlace(place)">
          <i class="fas fa-car"></i>
          <div class="place-number">{{ place.numeroPlace }}</div>
        </div>
      </div>
      <div class="vertical-road">
        <div class="vertical-road-line"></div>
        <div class="vertical-road-line"></div>
        <div class="vertical-road-line"></div>
      </div>
      <div class="garage-door"></div>
    </div>

    <div class="reservation-button-container">
      <button (click)="makeReservation()" [disabled]="countSelectedPlaces() === 0 || hasReservation">Make reservation</button>
    </div>
    <div>
      <button *ngIf="hasReservation" (click)="cancelReservation()">Annuler la réservation</button>
    </div>
  </div>
</div>
<canvas id="pathCanvas" class="path-canvas"></canvas>
<i id="movingCar" class="fas fa-car moving-car"></i> <!-- Car icon to follow the path -->