<section class="pt-s5 pb-s5 overlay-wrap" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="assets/images/bg/bg-1.jpg">
  <div class="container overlay-container pt-s2 pb-s5">
      <div class="pb-s5">
          <div class="hero-section-container-tl w-100 h-100 d-flex justify-content-center align-items-center">
              <div class="text-center mb-s2">
                  <div class="mt-s3 text-white">
                      <h6>Find best airport parking deals</h6>
                  </div>
                  <div class="mt-s1 mb-s5 text-white">
                      <h1 class="animated-headline text-white text-size-20--xs text-size-30--sm">
                          <span class="headline-wrapper text-cherry text-capitalize">
                              <b>Compare Multiple providers</b>
                              <b>Lowest prices</b>
                              <b>Secure Booking Process</b>
                              <b>A brand you can trust</b>
                          </span>
                      </h1>
                  </div>
              </div>
          </div>
      </div>
  </div> <!-- /CONTAINER -->
  <div class="overlay bg-v9-dark"></div>
</section> <!-- /SECTION -->
