<div class="container">
<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-12 theiaStickySidebar">
        <div class="stickybar">
            <div class="avatar avatar-online">
                <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
              </div>
            </div>
            <div class="flex-grow-1">
                <span class="fw-semibold d-block">{{ currentUser.firstname }}</span>
                <span class="fw-semibold d-block">{{ currentUser.lastname }}</span>

                <small class="text-muted">{{ currentUser.role }}</small>
            </div>

        </div>

    </div>

</div>
