.form-gap {
    padding-top: 70px;
}

.btn-red {
    background-color: red !important;
    border-color: red !important;
    color: white; /* Text color */
}

/* Lorsque le bouton est survolé */
.btn-red:hover {
    background-color: red !important;
    border-color: red !important;
    color: white; /* Text color */
}
