<section class="bg-v5-light pt-s2 pb-s2">
  <section class="bg-v5-light pt-s2 pb-s2">
    <section class="bg-v5-light pt-s2 pb-s2">


  <div class="container rounded bg-white mt-5 mb-5" style="margin-top: 700px;">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <div class="content__avatar">
                <img [src]="getImageUrl(currentUser.image)" style="width: 150px; height: 150px;">
            </div>
              <span class="font-weight-bold">{{ currentUser.firstname }}  {{ currentUser.lastname }}</span>
              <span class="text-black-50">{{ currentUser.email }}</span><span> </span></div>
              <div class="verified-account">
                <p *ngIf="currentUser.enabled">
                  Compte vérifié :
        <span *ngIf="currentUser.role === 'USER'">Employé</span>
        <span *ngIf="currentUser.role === 'ADMIN'">Admin</span>
        <span *ngIf="currentUser.role === 'MANAGER'">Manager</span>
      
    </p>   
              </div>
              
        </div>
        
        <div class="col-md-5 border-right">

            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-6">
                              <label class="labels">Firstname:</label>
                              <input type="text" id="firstname" name="firstname" formControlName="firstname" class="form-control">
                              <div class="alert alert-danger" *ngIf="userForm.get('firstname')?.touched && userForm.get('firstname')?.errors?.['required']">
                                  Firstname is required!
                              </div>
                          </div>
                          <div class="col-md-6">
                              <label class="labels">Lastname:</label>
                              <input type="text" id="lastname" name="lastname" formControlName="lastname" class="form-control">
                              <div class="alert alert-danger" *ngIf="userForm.get('lastname')?.touched && userForm.get('lastname')?.errors?.['required']">
                                  Lastname is required!
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12">
                      <label class="labels">Email</label>
                      <input type="email" class="form-control" placeholder="Enter your email" formControlName="email">
                      <div class="alert alert-danger" *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['required']">
                          Email is required!
                      </div>
                  </div>
                  </div>
                  <div class="form-group mt-3">
                      <label for="image">Image</label>
                      <input type="file" id="image" (change)="onFileSelected($event)" class="form-control">
                      <div *ngIf="uploadProgress">
                          <div>Uploading... {{ uploadProgress }}%</div>
                          <progress [value]="uploadProgress" max="100"></progress>
                      </div>
                      <img *ngIf="imagePreview" [src]="imagePreview" class="thumbnail-preview">
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary mybutton" [disabled]="userForm.invalid">Save</button>
                  </div>
              </form>
              
                 </div>
        </div>
   
    </div>
</div>
</section>
</section></section>